In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.4.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease [18.1 kB]
Get:4 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:5 http://archive.ubuntu.com/ubuntu focal InRelease
Get:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:7 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:8 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:9 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:10 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:11 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,690 kB]
Hit:12 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:13 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main Sources [2,578 kB]
Get:14 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [2,366 kB]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal/main amd64 Packages [1,216 kB]
Get:16 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,167 kB]
Get:17 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,342 kB]
Get:18 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [2,228 kB]
Get:19 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,045 kB]
Fetched 17.0 MB in 18s (959 kB/s)
Reading package lists... Done

In [2]:
# Import packages
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType
# Import the time module so we can time our queries.
import time

# # Create a SparkSession
# spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

# Create a SparkSession
spark = SparkSession.builder\
    .appName("SparkSQL")\
    .config("spark.sql.debug.maxToStringFields", 2000)\
    .config("spark.driver.memory", "2g")\
    .getOrCreate()

# Set the partitions to 4 or 8. 
spark.conf.set("spark.sql.shuffle.partitions", 8)

In [5]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True, inferSchema=True, ignoreLeadingWhiteSpace=True)

# Show DataFrame
df.show(5)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 5 rows

### Exploring data

In [6]:
# Print our schema
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- date_built: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)

In [7]:
# Show the columns
df.columns

['id',
 'date',
 'date_built',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view']

In [8]:
# Describe our data
df.describe()

DataFrame[summary: string, id: string, date_built: string, price: string, bedrooms: string, bathrooms: string, sqft_living: string, sqft_lot: string, floors: string, waterfront: string, view: string]

In [12]:
# Import date time functions
from pyspark.sql.functions import year

# Show the year for the date column
df.select(year(df["date"])).show(5)

+----------+
|year(date)|
+----------+
|      2022|
|      2021|
|      2019|
|      2019|
|      2022|
+----------+
only showing top 5 rows

In [13]:
# Save the year from the date sold as a new column
df = df.withColumn("year_sold", year(df['date']))
df.show(5)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+---------+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|year_sold|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+---------+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|     2022|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|     2021|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|     2019|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|     2019|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|     2022|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+---------+
only showing top 5 rows

In [14]:
# Import average function
from pyspark.sql.functions import avg, col
import pyspark.sql.functions as func

In [15]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?

df1 = df.filter(df.bedrooms == 4).groupBy("year_sold").avg('price')
# df1.show()

# round 'avg(price)' in a new column and rename this to "rounded_avg(price)"
df2 = df1.select(col("year_sold").alias("year_sold"),
                 func.round(df1["avg(price)"],2).alias("rounded_avg(price)"))
df2.show()

+---------+------------------+
|year_sold|rounded_avg(price)|
+---------+------------------+
|     2019|          300263.7|
|     2022|         296363.88|
|     2021|         301819.44|
|     2020|         298353.78|
+---------+------------------+

In [16]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?

df3 = df.filter((df.bedrooms == 3) & (df.bathrooms == 3)).groupBy("year_sold").avg('price')
# df3.show()

# round 'avg(price)' in a new column and rename this to "rounded_avg(price)"
df4 = df3.select(col("year_sold").alias("year_sold"),
                 func.round(df3["avg(price)"],2).alias("rounded_avg(price)"))
df4.show()

+---------+------------------+
|year_sold|rounded_avg(price)|
+---------+------------------+
|     2019|         287287.82|
|     2022|         292725.69|
|     2021|         294211.46|
|     2020|         294204.16|
+---------+------------------+

In [17]:
# 5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?

df5 = df.filter((df.bedrooms == 3) & (df.bathrooms == 3) & (df.floors == 2) & (df.sqft_living >= 2000)).groupBy("year_sold").avg('price')
# df5.show()

# round 'avg(price)' in a new column and rename this to "rounded_avg(price)"
df6 = df5.select(col("year_sold").alias("year_sold"),
                 func.round(df5["avg(price)"],2).alias("rounded_avg(price)"))
df6.show()

+---------+------------------+
|year_sold|rounded_avg(price)|
+---------+------------------+
|     2019|         289859.14|
|     2022|         290242.99|
|     2021|         296330.96|
|     2020|         292289.09|
+---------+------------------+

### Questions continued

In [29]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

# Show DataFrame
spark.sql("SELECT (*) FROM home_sales").show(5)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+---------+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|year_sold|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+---------+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|     2022|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|     2021|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|     2019|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|     2019|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|     2022|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+---------+
only showing top 5 rows

In [41]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?

spark.sql("""
SELECT year_sold, 
round(avg(price),2) 
FROM home_sales 
WHERE bedrooms = 4 
group by year_sold""").show()

+---------+--------------------+
|year_sold|round(avg(price), 2)|
+---------+--------------------+
|     2019|            300263.7|
|     2022|           296363.88|
|     2021|           301819.44|
|     2020|           298353.78|
+---------+--------------------+

In [42]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?

spark.sql("""
SELECT year_sold, 
round(avg(price),2) 
FROM home_sales 
WHERE bedrooms = 3 and bathrooms =3 
group by year_sold""").show()

+---------+--------------------+
|year_sold|round(avg(price), 2)|
+---------+--------------------+
|     2019|           287287.82|
|     2022|           292725.69|
|     2021|           294211.46|
|     2020|           294204.16|
+---------+--------------------+

In [43]:
# 5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?

spark.sql("""
SELECT year_sold, 
round(avg(price),2) 
FROM home_sales 
WHERE bedrooms = 3 and bathrooms =3 
and floors = 2 and sqft_living >= 2000 
group by year_sold""").show()

+---------+--------------------+
|year_sold|round(avg(price), 2)|
+---------+--------------------+
|     2019|           289859.14|
|     2022|           290242.99|
|     2021|           296330.96|
|     2020|           292289.09|
+---------+--------------------+

In [44]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("SELECT round(avg(price),2), round(avg(view),2) FROM home_sales WHERE price >= 350000 ").show()

print("--- %s seconds ---" % (time.time() - start_time))

+--------------------+-------------------+
|round(avg(price), 2)|round(avg(view), 2)|
+--------------------+-------------------+
|           473796.26|              32.26|
+--------------------+-------------------+

--- 0.642080545425415 seconds ---

In [45]:
# 7. Cache the the temporary table home_sales.

spark.sql("cache table home_sales")

DataFrame[]

In [46]:
# 8. Check if the table is cached.
# It will return True if it is cached.
spark.catalog.isCached('home_sales')

True

In [47]:
# 9. Using the cached data, run the query that filters out the view ratings with average price 
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

spark.sql("SELECT round(avg(price),2), round(avg(view),2) FROM home_sales WHERE price >= 350000 ").show()

print("--- %s seconds ---" % (time.time() - start_time))

+--------------------+-------------------+
|round(avg(price), 2)|round(avg(view), 2)|
+--------------------+-------------------+
|           473796.26|              32.26|
+--------------------+-------------------+

--- 0.32740092277526855 seconds ---

In [ ]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data

In [ ]:
# 11. Read the parquet formatted data.

In [ ]:
# 12. Create a temporary table for the parquet data.

In [ ]:
# 13. Run the query that filters out the view ratings with average price of greater than or equal to $350,000 
# with the parquet DataFrame. Round your average to two decimal places. 
# Determine the runtime and compare it to the cached version.

start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

In [48]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [49]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached("home_sales")

False